.banner-img {
  width: 100%;
  height: 200px;
}

.account-header {
  border-bottom: 1px solid white;
}

.profile-img-container {
  height: 130px;
  margin: -65px 0 15px 20px;
  width: 130px;
  border-radius: 100%;
}

.profile-img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 4px solid #15202b;
}

.account-name {
  font-weight: bold;
}

.account-username {
  font-weight: #ccc;
  color: #8899a6;
  display: inline;
}

.account-edit,
.account-follow {
  display: flex;
  justify-content: flex-end;
  margin: -70px 0 25px 0;
}

.account-header {
  padding: 10px;
}

.fa-calendar {
  color: #3aaae1;
  margin-right: 4px;
}

.fa-check-circle {
  color: #3aaae1;
  margin-left: 4px;
}

.AccountCenter {
  border: 1px solid white;
}

.account-following,
.account-followers {
  color: white;
  margin-right: 10px;
}

.account-follows,
.account-biography {
  margin: 10px 0;
}

.bold {
  font-weight: bold;
}

.protected-content,
.no-tweets {
  text-align: center;
  padding: 20px;
}

.protected-title {
  font-weight: bold;
  font-size: 1.7rem;
}

.protected-text {
  color: #8899a6;
}

.fa-lock {
  color: white;
  margin-left: 4px;
}

.input-file {
  display: none;
}

.fa-camera {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
}
