.AccountTweet {
  padding: 10px;
  border-top: 1px solid white;
}

.AccountTweet-name,
.AccountTweet-username,
.AccountTweet-tweetedAt,
.AccountTweet-bullet {
  margin-right: 4px;
}

.AccountTweet-username,
.AccountTweet-tweetedAt,
.AccountTweet-bullet {
  color: #8899a6;
}

.AccountTweet-name {
  color: white;
}

.AccountTweet-icons {
  display: flex;
  margin-top: 10px;
}

.AccountTweet-icon {
  flex: 1;
  color: #8899a6;
}

.AccountTweet-icon span {
  margin-left: 8px;
}

.fa-trash {
  color: red;
}
