.AccountTweet {
  padding: 10px;
  border-top: 1px solid white;
}

.AccountTweet:hover {
  cursor: pointer;
  background-color: #414141;
  transition: 0.5s;
}

.AccountTweet-name,
.AccountTweet-username,
.AccountTweet-tweetedAt,
.AccountTweet-bullet {
  margin-right: 4px;
}

.AccountTweet-username,
.AccountTweet-tweetedAt,
.AccountTweet-bullet {
  color: #8899a6;
}

.AccountTweet-name {
  color: white;
}

.AccountTweet-icons {
  display: flex;
  margin-top: 10px;
}

.AccountTweet-icon {
  flex: 1;
  color: #8899a6;
}

.AccountTweet-icon span {
  margin-left: 8px;
}

.fa-trash,
.liked {
  color: red;
}

.retweeted {
  color: green;
}

.pinnedTweet {
  color: #3aaae1;
}

.isARetweet {
  display: block;
}

.AccountTweet-isARetweet,
.AccountTweet-isAPin {
  display: inline;
}

.isARetweet-icon,
.AccountTweet-isARetweet,
.isAPin-icon,
.AccountTweet-isAPin {
  color: #8899a6;
  margin-right: 4px;
  font-size: 0.75rem !important;
}

.separate {
  height: 10px;
  background-color: #8899a6;
}
