.not-connected {
  height: 100vh;
}

.not-connected-col {
  flex: 50%;
}

.nc-logo {
  height: 100vh;
  width: 100%;
}

.logo {
  margin: 0 auto;
  display: block;
}

.nc-col-2 .row {
  width: 400px;
  margin: 0 auto;
}

.not-connected p {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .nc-col-1 {
    display: none;
  }
}
