body {
  background-color: #15202b !important;
}

nav {
  background-color: inherit !important;
}

p {
  color: #fff;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: #3aaae1;
}

.btn,
.btn-large {
  background-color: #3aaae1 !important;
}

input,
textarea {
  color: white;
}

.input-field {
  display: flex;
  align-items: center;
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}
