body {
  background-color: #15202b !important;
}

nav {
  background-color: inherit !important;
}

p {
  color: #fff;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
