.flex {
  display: flex;
  padding: 4px;
  justify-content: space-between;
  align-items: center;
}

.root-link {
  padding: 10px 0;
}

.main-nav {
  padding-bottom: 20px;
}

.logo {
  width: 30px;
}

.sidenav {
  background-color: #15202b !important;
}

.sidenav li > a {
  padding: 0;
}

.nav-right .fa-sign-out,
.nav-right .fa-user {
  color: #3aaae1;
}

.fa-sign-out {
  margin-left: 6px;
}

.fa {
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-username {
  display: inline;
  margin-right: 4px;
  color: #3aaae1;
}
